/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

.clearfix{
  clear: both;
}

h1,
p {
  text-align: center;
  text-transform: capitalize;
}

body {
  padding: 0;
}

input,
button {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  height: 3.5em;
  vertical-align: middle;
  /* This is optional but it makes legacy IEs look better */
  background: none;
  border: 2px solid;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
}

input {
  width: 20em;
  padding: 0 .7em;
  -webkit-appearance: none;
  appearance: none;
}

input:focus {
  outline: none;
}

button {
  width: 6em;
  cursor: pointer;
}

button:hover,
button:focus {
  outline: none;
}

table{
  margin: .2em auto;
}

form,
button,
table {
  display: table;
  margin: 0 auto;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}