.crops {
    width: 80vw;
    margin: 5% auto;
}

.crops h1 {
    font-size: 6rem;
    font-weight: 600;
    color: #FEA202;
}

.crops .crop-image {
    width: 100px;
    object-fit: contain;
}

.crops .grow-btn .circle {
    background-color: #35AF6F;
}

.crops .grow-btn .button-text{
    color: #35AF6F;
}

.crops .grow-btn:hover .button-text{
    color: #ffffff;
}

/* Tomato page */
.tomato h2 {
    color: #FEA202;
}

.tomato img{
    width: 30px;
    object-fit: contain;
}

a {
    color: inherit !important;
}

.tomato .details {
    width: 70%;
    margin: 0 auto;
}

.tomato .tab-details {
    background-color: #eeeeee77;
    min-height: 50vh;
    padding: 1rem;
}

.tomato .grow-btn-container {
    width: 70%;
    margin: 2rem auto;
    display: flex;
    justify-content: flex-end;
}

.tomato .grow-btn .circle {
    background-color: #35AF6F;
}

.tomato .grow-btn .button-text{
    color: #35AF6F;
}

.tomato .grow-btn:hover .button-text{
    color: #ffffff;
}

.start-btn {
    background-color: #FEA202;
    padding: 0.2rem 1.5rem;
    border-color: #FEA202;
}

.start-btn:hover, .start-btn:active {
    background-color: #FEA202de;
    border-color: #FEA202;
}

/* Track Plant Growth */
.track h2{
    color: #FEA202;
}

.track .growth-image {
    display: flex;
    justify-content: center;
}

.track .growth-image img {
    width: 300px;
    margin-top: 2rem;
}

.track .progress-tracker {
    width: 70%;
    margin: 2rem auto;
}

.track .sell-btn .circle {
    background-color: #35AF6F;
}

.track .sell-btn .button-text{
    color: #35AF6F;
}

.track .sell-btn:hover .button-text{
    color: #ffffff;
}

.text_boz {
    margin: 10px 20px 30px 20px;
}