.main-nav {
    padding: 0rem 4rem;
}

.main-nav img {
    object-fit: contain;
    width: 105px;
}

.main-nav .signup-btn {
    border: 1px solid #35AF6F;
    background-color: #ffffff;
    color: #35AF6F !important;
    border-radius: 5px;
    padding: 0.5rem 1.5rem !important;
}

.main-nav .signup-btn:hover {
    background-color: #35AF6Fdf;
    color: #ffffff !important;
}  