<div id="mainContainer">
  <div id="lyfts">
    <div [hidden]="pagesState.lyfts">
      <h1>Where are you taking a lift to?</h1>
        <table>
            <thead>
              <th>Ikorodu Lift</th>
              <td><a href="#" data-current="lyfts" data-next="lyft" (click)="onNextClick($event)">&gt;</a></td>
            </thead>
            <tbody>
              <tr>
                <td colspan="2">8:00am</td>
              </tr>
              <tr>
                <td colspan="2">Ikorodu - Lekki</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="2"><a href="#" data-current="lyfts" data-next="lyft" (click)="onNextClick($event)">Check available lyfts</a></td>
              </tr>
            </tfoot>
          </table>
          <table>
            <thead>
              <th>Lekki Lift</th>
              <td><a href="#" data-current="lyfts" data-next="lyft" (click)="onNextClick($event)">&gt;</a></td>
            </thead>
            <tbody>
              <tr>
                <td colspan="2">10:00am - 4:00pm (Return trip)</td>
              </tr>
              <tr>
                <td colspan="2">Lekki - Ikorodu</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="2"><a href="#" data-current="lyfts" data-next="lyft" (click)="onNextClick($event)">Check available lyfts</a></td>
              </tr>
            </tfoot>
          </table>
    </div>
  </div>
  <div id="lyft">
    <div [hidden]="pagesState.lyft">
        <h1>Available lifts</h1>
        <img src="../../assets/map.jpeg" alt="map" />
        <table>
          <tbody>
            <tr>
              <th><img alt="user" src="../../assets/user.png" /></th>
              <td>
                <a href="#" data-current="lyft" data-next="lyftProfile" (click)="onNextClick($event)" data-user="ekene">{{userData.ekene.name}}</a>
                <br />
                <span>Addo - Ikeja</span>
              </td>
            </tr>
            <tr>
              <th><img alt="user" src="../../assets/user.png" /></th>
              <td>
                  <a href="#" data-current="lyft" data-next="lyftProfile" (click)="onNextClick($event)" data-user="zenith">{{userData.zenith.name}}</a><br />
                <span>Addo - VI</span>
              </td>
            </tr>
          </tbody>
        </table>
    </div>   
  </div>
  <div id="lyftProfile">
    <div [hidden]="pagesState.lyftProfile">
        <table>
            <tbody>
              <tr>
                <td>
                  <img src="../../assets/user.png" alt="profile photo" />
                  <span>{{name}}</span>
                  <br/>
                </td>          
              </tr>
              <tr>
                <td>
                  <img class="star" alt="star" src="../../assets/star.png" />
                  <img class="star" alt="star" src="../../assets/star.png" />
                  <img class="star" alt="star" src="../../assets/star.png" />
                  <img class="star" alt="star" src="../../assets/star-empty.png" />
                  <img class="star" alt="star" src="../../assets/star-empty.png" />
                </td>
              </tr>
              <tr>
                <td>
                  <span>8:00am - 10:00am</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span>Car model: {{car}}</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span>Note: I ply Ikorodu to ikeja route, mondays to fridays. Weekends on the mainland</span>
                </td>
              </tr>
              <tr>
                  <td>
                    <button class="fill">Get a Lift</button>
                  </td>
                </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>
<app-auth-menu-section></app-auth-menu-section>
