#mainContainer {
    padding: 3em;
  }
  
  p {
    margin: .2em 0 1em 0;
  }
  
  button {
    width: 13em;
    margin: 0 auto;
    background: #2aa9ff;
    color: #fff;
    border-radius: 1.2em;
  }