<div id="mainContainer">
  <form [formGroup]="signupForm">
    <div [hidden]="formPagesState.showNamePhone">
      <h1>Sign Up to get available cars for a lift</h1>
      <input type="text" placeholder="Name" formControlName="name" />
      <input type="text" placeholder="Phone Number" formControlName="phone" />
      <button (click)="onNextClick()">Get OTP</button>
    </div>
    <div [hidden]="formPagesState.showOtp">
      <h1>Input your OTP to proceed</h1>
      <input type="text" placeholder="OTP" formControlName="otp" />
      <button (click)="onNextClick()">Continue</button>
    </div>
    <div [hidden]="formPagesState.showProfilePicture">
      <h1>Your profile picture</h1>
      <button (click)="onNextClick()">Take Photo</button>
    </div>
    <div [hidden]="formPagesState.showDriverRegister">
      <h1>Would you also register as a driver?</h1>
      <p>Upload a valid driver's license for confirmation</p>
      <div class="doubleBtns">
        <button (click)="onNextClick()">Skip</button>
        <button (click)="onNextClick()">Upload</button>
      </div>
    </div>
    <div [hidden]="formPagesState.showConfirmDetails">
      <h1>Confirm your details</h1>
      <img src="../../assets/user.png" alt="Profile photo" />
      <table>
        <tbody>
          <tr>
            <th>Name: </th>
            <td>Christopher Akintade</td>
          </tr>
          <tr>
            <th>Phone: </th>
            <td>08133470133</td>
          </tr>
          <tr>
            <th>Driver: </th>
            <td>yes</td>
          </tr>
        </tbody>
      </table>
      <div class="doubleBtns">
        <button (click)="onPrevClick()">Back</button>
        <button (click)="onNextClick()">Next</button>
      </div>
    </div>
    <div [hidden]="formPagesState.showSuccess">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 130.2 130.2"
        style="width: 130px;height: 130px;display: block;margin: 1em auto 0;">
        <circle
          class="stroke-dasharray: 1000;stroke-dashoffset: 0;-webkit-animation: dash .9s ease-in-out;animation: dash .9s ease-in-out;"
          fill="none" stroke="#2aa9ff" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"></circle>
        <polyline
          style="stroke-dasharray: 1000;stroke-dashoffset: 0;stroke-dashoffset: -100;-webkit-animation: dash-check .9s .35s ease-in-out forwards;animation: dash-check .9s .35s ease-in-out forwards;"
          fill="none" stroke="#2aa9ff" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10"
          points="100.2,40.2 51.5,88.8 29.8,67.5"></polyline>
      </svg>
      <h1>Success! Your lift awaits you.</h1>
      <button [routerLink]="['/create']">Proceed</button>
    </div>
    
  </form>
</div>
