.signup-page .form-container {
    /*     width: 600px; */
    width: 50vw;
    margin: 0 auto;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background: #9E6F64;
}

.signup-page .form-container header {
    text-align: center;
    color: #f6f6f6;
}

.signup-page .form-container header h2 {
    font-size: 250%;
    font-family: 'Playfair Display', serif;
    ;
}

.signup-page .signup {
    width: 80%;
    margin: auto
}

.signup-page header p {
    letter-spacing: 0.05em;
    font-size: 1.2rem;
}

.signup-page input,
.signup-page select {
    width: 100%;
    height: 40px;
    background: #fff;
    font-size: 16px;
    text-transform: capitalize;
    padding: 7px;
    color: rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
    border: 3px solid #fbfbfb;
    border-radius: 4px;
    outline: none;
    margin: 10px;
}

.signup-page .select {

    height: 40px;
    padding: 10px;
    font-size: 15px;
}

.signup-page .links {
    text-align: center;
}

.signup-page .links a {
    text-decoration: none;
    margin: 10px 0;
    width: 200px;
    height: 40px;
    color: #ddd;
    font-weight: bolder;
    text-transform: capitalize;
}

.signup-page .btn {
    width: 100%;
    height: 50px;
    border: none;
    background: green;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 24px;
    color: #fff;
    z-index: 3;
}