<div id="mainContainer">
  <div id="heading">
      <div class="left"><a [routerLink]="['/create']" href="#">Back</a></div>
      <div class="right"><a href="#">Done</a></div>
      <div class="clearfix"></div>
      <p>Offer Lyft</p>
  </div>
  <table>
    <tbody>
      <tr>
        <th><img alt="car" src="../../../assets/car.png"/></th>
        <td>
          <h1>What</h1>
          <p>Name your lyft</p>
        </td>
      </tr>
      <tr>
          <th><img alt="location" src="../../../assets/location.png"/></th>
          <td>
            <h1>Where</h1>
            <p>Set your start and end locations</p>
          </td>          
        </tr>
        <tr>
            <th><img alt="clock" src="../../../assets/clock.png"/></th>
            <td>
              <h1>When</h1>
              <p>Set a date/time for your lyft + repeat option</p>
            </td>
          </tr>
          <tr>
            <th><img alt="clock" src="../../../assets/note.png"/></th>
            <td>
              <h1>Notes</h1>
              <p>Let your passengers know any additional information</p>
            </td>
          </tr>
    </tbody>
  </table>
</div>