.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #35AF6F !important;
}


.cover {
    width: 300px;
    height: 400px;
    background: white;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);

    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s;
}

.cover:hover {
    transform: scale(1);
}


.cover .box {
    width: 100%;
    height: 100%;
}

.cover .box .top {
    height: 70%;
    width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

.top0 {
    background: url(https://s3-eu-west-1.amazonaws.com/naivas-live/productImage/NVSL1612.jpg) no-repeat center center;

}

.top1 {
    background: url(https://media.istockphoto.com/photos/fresh-carrots-isolated-on-white-background-picture-id545454816) no-repeat center center;

}

.top2 {
    background: url(https://media.istockphoto.com/photos/bunch-of-royal-gala-apples-picture-id1061732642) no-repeat center center;

}

.top4 {
    background: url(https://media.istockphoto.com/photos/fresh-red-grape-isolated-on-white-background-picture-id1008765228) no-repeat center center;

}

.top3 {
    background: url(https://media.istockphoto.com/photos/mango-picture-id478090801) no-repeat center center;

}

.jumbotron {
    height: 100%;
    background: url(https://media.istockphoto.com/photos/chinese-kale-vegetable-picture-id619506328) no-repeat center center;
}

.box .bottom {
    width: 200%;
    height: 30%;
    transition: transform 0.5s;
}

.box .bottom.clicked {
    transform: translateX(-50%);
}

.box .bottom h2 {
    margin: 0;
    padding: 0;
}

.box .bottom p {
    margin: 0;
    padding: 0;
}

.box .bottom .left {
    height: 100%;
    width: 50%;
    background: #f4f4f4;
    position: relative;
    float: left;
}

.box .bottom .left .details {
    padding: 20px;
    float: left;
    width: calc(70% - 40px);
}

.box .bottom .left .buy {
    float: right;
    width: calc(30% - 2px);
    height: 100%;
    background: #f1f1f1;
    transition: background 0.5s;
    border-left: solid thin rgba(0, 0, 0, 0.1);
}

.box .bottom .left .buy i {
    font-size: 30px;
    padding: 30px;
    color: #254053;
    transition: transform 0.5s;
}

.box .bottom .left .buy:hover {
    background: #A6CDDE;
}

.box .bottom .left .buy:hover i {
    transform: translateY(5px);
    color: #00394B;
}

.container .bottom .right {
    width: 50%;
    background: #A6CDDE;
    color: white;
    float: right;
    height: 200%;
    overflow: hidden;
}