button {
  margin: .6em auto;  
  border-color: #fff;
  color: #fff;
}

button:hover,
button:focus {
  border-color: #2aa9ff;
  background: #2aa9ff;
  color: #fff;
}

#mainContainer{
    min-height: 35em;
    background-image: url("/../assets/home_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;    
    position: relative;
    padding: 0 0 .9em 0;
}

.mainContentText>h1 {
  color: #fff;
}

.mainContentText {
  padding: 18em 2em 0 2em;
}

.mainContent {
  position: relative;
  z-index: 1;
}

.mainOverlay {
  background-color: #000;
  opacity: .6;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
